In [2]:
import pandas as pd
data = pd.read_csv('data/sleep health.csv', index_col="Person ID")
data.head()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
Person ID,,,,,,,,,,,,
1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None
2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [20]:
amountByGender = data['Gender'].value_counts()
oldest = data['Age'].max()
youngest = data['Age'].min()
meanAge = data['Age'].mean()
stdAge = data['Age'].std()

print(f"There are: {amountByGender['Male']} men and {amountByGender['Female']} women.")
print(f"The oldest person has: {oldest} years old. Meanwhile the youngest has: {youngest} years old.")
print(f"The mean age for this data set is: {round(meanAge)} years.")
print(f"And ages variates {round(stdAge)} years more or lesser.")

There are: 189 men and 185 women.
The oldest person has: 59 years old. Meanwhile the youngest has: 27 years old.
The mean age for this data set is: 42 years.
And ages variates 9 years more or lesser.

In [21]:
data.loc[data['Age']<=40, 'Age_group'] = 'Adult'
data.loc[data['Age']>=41, 'Age_group'] = 'Older Adult'

In [22]:
data['Age_group'].value_counts()

Older Adult    209
Adult          165
Name: Age_group, dtype: int64

In [23]:
data.groupby('Gender')['Age'].agg(['mean','std'])

             mean       std
Gender
Female  47.405405  8.093407
Male    37.074074  5.662006

In [24]:
data.groupby(['Occupation'])['Gender'].value_counts()

Occupation            Gender
Accountant            Female    36
                      Male       1
Doctor                Male      69
                      Female     2
Engineer              Female    32
                      Male      31
Lawyer                Male      45
                      Female     2
Manager               Female     1
Nurse                 Female    73
Sales Representative  Male       2
Salesperson           Male      32
Scientist             Female     4
Software Engineer     Male       4
Teacher               Female    35
                      Male       5
Name: Gender, dtype: int64

In [25]:
print(data['Sleep Duration'].min())
print(data['Sleep Duration'].max())

5.8
8.5

In [28]:
data.groupby('Gender')['Sleep Duration'].mean()

Gender
Female    7.229730
Male      7.036508
Name: Sleep Duration, dtype: float64

In [29]:
data.groupby('Gender')['Sleep Duration'].mean()

Gender
Female    7.229730
Male      7.036508
Name: Sleep Duration, dtype: float64

In [31]:
occ_qua = data.groupby('Occupation')[['Quality of Sleep', 'Sleep Duration']].mean()
occ_qua.sort_values(by='Quality of Sleep')

                      Quality of Sleep  Sleep Duration
Occupation
Sales Representative          4.000000        5.900000
Scientist                     5.000000        6.000000
Salesperson                   6.000000        6.403125
Software Engineer             6.500000        6.750000
Doctor                        6.647887        6.970423
Teacher                       6.975000        6.690000
Manager                       7.000000        6.900000
Nurse                         7.369863        7.063014
Accountant                    7.891892        7.113514
Lawyer                        7.893617        7.410638
Engineer                      8.412698        7.987302

In [35]:
occ_bmi = data.groupby('Occupation')['BMI Category'].value_counts()
occ_bmi.sort_values()

Occupation            BMI Category
Lawyer                Normal Weight     1
Software Engineer     Overweight        1
                      Obese             1
Manager               Overweight        1
Teacher               Obese             1
Doctor                Normal Weight     2
Lawyer                Obese             2
                      Overweight        2
Software Engineer     Normal Weight     2
Sales Representative  Obese             2
Engineer              Overweight        3
                      Normal Weight     4
Doctor                Obese             4
Scientist             Overweight        4
Accountant            Normal Weight     5
                      Overweight        6
Teacher               Normal            6
Nurse                 Normal Weight     7
Accountant            Normal           26
Salesperson           Overweight       32
Teacher               Overweight       33
Lawyer                Normal           42
Engineer              Normal           56
Doctor                Normal           65
Nurse                 Overweight       66
Name: BMI Category, dtype: int64

In [37]:
occ_steps = data.groupby(['Occupation'])['Daily Steps', 'Physical Activity Level', 'Sleep Duration', 'Quality of Sleep'].mean()
occ_steps.sort_values(by='Daily Steps')

C:\Users\doutr\AppData\Local\Temp\ipykernel_11132\237343472.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  occ_steps = data.groupby(['Occupation'])['Daily Steps', 'Physical Activity Level', 'Sleep Duration', 'Quality of Sleep'].mean()

,Daily Steps,Physical Activity Level,Sleep Duration,Quality of Sleep
Occupation,,,,
Sales Representative,3000.000000,30.000000,5.900000,4.000000
Scientist,5350.000000,41.000000,6.000000,5.000000
Manager,5500.000000,55.000000,6.900000,7.000000
Software Engineer,5800.000000,48.000000,6.750000,6.500000
Teacher,5957.500000,45.625000,6.690000,6.975000
Engineer,5980.952381,51.857143,7.987302,8.412698
Salesperson,6000.000000,45.000000,6.403125,6.000000
Doctor,6808.450704,55.352113,6.970423,6.647887
Accountant,6881.081081,58.108108,7.113514,7.891892
Lawyer,7661.702128,70.425532,7.410638,7.893617
Nurse,8057.534247,78.589041,7.063014,7.369863